@media (min-width: 768px) {
    :root {
        --max-width-central-elements: calc(var(--grid-size) * 25);
    }

    /* Home */
    /* ---- */
    #home-about {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .about-wrapper {
        max-width: var(--max-width-central-elements);
    }

    /* Login */
    /* ----- */
    #login-title,
    #login-form {
        max-width: var(--max-width-central-elements);
    }

    /* Sign Up */
    /* ------- */
    #signup-title,
    #signup-form {
        max-width: var(--max-width-central-elements);
    }

    /* Dashboard */
    /* --------- */
    .dashboard-wrapper {
    }

    #dashboard-list-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .food-wrapper {
        max-width: var(--max-width-central-elements);
        width: 100%;
    }

    .food-exp-date {
        /* margin-bottom: calc(var(--grid-size) * 0.5); */
    }

    .food-date-buttons-wrapper {
        width: 100%;
    }

    .food-name {
        margin-bottom: calc(var(--grid-size) * 1.5);
    }

    #mobile-nav-bar {
        display: none;
    }

    #desktop-add-button-wrapper {
        display: flex;
        justify-content: flex-end;
        max-width: var(--max-width-central-elements);
        width: 100%;
    }

    #desktop-add-button svg {
        stroke-width: 3;
    }

    #desktop-add-button:hover svg {
        color: var(--gray-f);
    }

    /* Edit Panel */
    /* ---------- */
    .edit-panel-wrapper {
    }

    .edit-panel-background {
        display: flex;
        justify-content: center;
    }

    .edit-panel {
        max-width: var(--max-width-central-elements);
    }

    /* Preferences */
    /* ----------- */
    .preferences-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: none;
    }

    .preferences-list-wrapper {
        max-width: var(--max-width-central-elements);
        width: 100%;
    }

    /* Footer */
    /* ------ */
    .footer {
        width: 100%;
    }

    .footer .highlight-link a {
        color: var(--gray-f);
    }
}
