@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

:root {
    --grid-size: 1rem;
    --edge-padding: calc(var(--grid-size) * 2.5);
    --input-border-width: 4px;
    --mobile-nav-bar-bottom-padding: calc(var(--grid-size) * 5);

    --font-large: calc(var(--grid-size) * 3);
    --font-medium: calc(var(--grid-size) * 2);
    --font-small: calc(var(--grid-size) * 1.5);
    --font-smaller: calc(var(--grid-size) * 1.2);
    --font-smallest: calc(var(--grid-size) * 1);

    --gray-f: #ffffff;
    --gray-e: #eeeeee;
    --gray-c: #cccccc;
    --gray-a: #aaaaaa;
    --gray-8: #888888;
    --gray-6: #666666;
    --gray-4: #444444;
    --gray-2: #222222;
    --theme-1: #66cca2;
    --error-1: #ee8e8e;
}

#root,
body,
html {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* -------- */
/* -------- */
/* -------- */
/* -------- */
/* -------- */
/* -------- */
/* -------- */
/* -------- */
/* Reusable */
/* -------- */
/* -------- */
/* -------- */
/* -------- */
/* -------- */
/* -------- */
/* -------- */
/* -------- */
.waste-title {
    color: var(--theme-1);
    font-size: var(--font-large);
    font-weight: bold;
    margin-top: calc(var(--grid-size) * 7);
}

.highlight {
    color: var(--theme-1);
}

.highlight-link a {
    color: var(--theme-1);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent; /* https://stackoverflow.com/questions/42507623/blue-highlight-on-onclick-on-buttons-in-chrome-mobile */
}

/* Input */
input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: var(--input-border-width) solid var(--gray-c);
    /* border-bottom: var(--input-border-width) solid rgba(0, 0, 0, 0); */
    font-size: var(--font-smallest);
    height: calc(var(--grid-size) * 2);
    outline: none;
    transition: border 200ms ease-in-out;
    width: 100%;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: var(--gray-c);
    font-size: var(--font-smallest);
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-bottom: var(--input-border-width) solid var(--theme-1);
}

.theme-button {
    background-color: var(--theme-1);
    border: 2px solid rgba(0, 0, 0, 0);
    color: var(--gray-f);
    cursor: pointer;
    display: inline-block;
    font-size: var(--font-smaller);
    outline: none;
    padding: calc(var(--grid-size) * 1);
    padding-bottom: calc(var(--grid-size) * 0.5);
    padding-top: calc(var(--grid-size) * 0.5);
    user-select: none;
    -webkit-tap-highlight-color: transparent; /* https://stackoverflow.com/questions/42507623/blue-highlight-on-onclick-on-buttons-in-chrome-mobile */
    /* -webkit-user-select: none; */
}

.theme-button-unselected {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid var(--theme-1);
    color: var(--theme-1);
}

.theme-buttons-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.theme-button-in-row {
    box-sizing: border-box;
    flex-grow: 1;
    font-size: var(--font-smallest);
    padding: 0;
    padding-bottom: calc(var(--grid-size) * 0.3);
    padding-top: calc(var(--grid-size) * 0.3);
    text-align: center;
    width: 10px;
}

.theme-button-in-row:first-child {
    margin-right: calc(var(--grid-size) * 0.5);
}

.theme-button-in-row:last-child {
    margin-left: calc(var(--grid-size) * 0.5);
}

.check-button {
    align-items: center;
    border: 2px solid var(--theme-1);
    border-radius: 100%;
    color: var(--theme-1);
    cursor: pointer;
    display: inline-flex;
    height: calc(var(--grid-size) * 1.2);
    justify-content: center;
    transition: background-color 200ms ease-out;
    width: calc(var(--grid-size) * 1.2);
    -webkit-tap-highlight-color: transparent; /* https://stackoverflow.com/questions/42507623/blue-highlight-on-onclick-on-buttons-in-chrome-mobile */
}

.check-button:hover {
    background-color: var(--theme-1);
    color: var(--gray-f) !important;
}

.check-button svg {
    height: calc(var(--grid-size) * 0.8);
    width: calc(var(--grid-size) * 0.8);
}

.checked {
    background-color: var(--theme-1);
}

.checked svg {
    color: var(--gray-f) !important;
}

select {
    appearance: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: calc(var(--input-border-width) + 1px) solid var(--theme-1);
    border-radius: 0;
    color: var(--gray-c);
    cursor: pointer;
    font-size: var(--font-smallest);
    outline: none;
    padding-bottom: calc(var(--grid-size) * 0.2);
}

/* TODO style the select box betterer */
option {
    color: var(--gray-2);
}

.hour-picker {
    text-align: right;
}

.minute-picker {
    margin-left: calc(var(--grid-size) * 0.5);
}

.title-header {
    background-color: var(--theme-1);
    color: var(--gray-f);
    font-size: var(--font-small);
    font-weight: bold;
    padding-bottom: calc(var(--grid-size) * 1);
    padding-left: var(--edge-padding);
    padding-right: var(--edge-padding);
    padding-top: calc(var(--grid-size) * 1);
}

.info-button {
    color: var(--gray-c);
    position: absolute;
    right: 0;
    top: 0;
    -webkit-tap-highlight-color: transparent; /* https://stackoverflow.com/questions/42507623/blue-highlight-on-onclick-on-buttons-in-chrome-mobile */
}

.info-button svg {
    cursor: pointer;
}

.info-button-content-wrapper {
    position: relative;
    z-index: 10;
}

.info-button-content {
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    color: var(--gray-a);
    font-size: var(--font-smallest);
    padding: calc(var(--grid-size) * 1);
    position: absolute;
    right: 0;
    width: calc(var(--grid-size) * 8);
    top: calc(var(--grid-size) * 1.5);
}

/* Footer */
.footer {
    align-items: center;
    background-color: var(--theme-1);
    display: flex;
    flex-direction: column;
    font-size: var(--font-smaller);
    padding-bottom: calc(var(--grid-size) * 3);
    padding-top: calc(var(--grid-size) * 3);
    text-align: center;
}

#personal-website-link-a {
    color: var(--gray-f);
}

/* Home */
/* ---- */
.home-wrapper {
    height: 100%;
}

#home-top {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--edge-padding);
}

.waste-title-description {
    color: var(--gray-6);
    font-size: var(--font-smaller);
    margin-top: calc(var(--grid-size) * 2);
    text-align: center;
}

#login-button {
    font-size: var(--font-small);
    font-weight: bold;
    margin-top: calc(var(--grid-size) * 7);
}

#signup-button {
    font-size: var(--font-small);
    font-weight: bold;
    margin-top: calc(var(--grid-size) * 2);
}

#chevron-down-button {
    cursor: pointer;
    margin-top: calc(var(--grid-size) * 2);
    -webkit-tap-highlight-color: transparent; /* https://stackoverflow.com/questions/42507623/blue-highlight-on-onclick-on-buttons-in-chrome-mobile */
}

/* about section */
#home-about {
    padding: var(--edge-padding);
}

.about-wrapper {
    width: 100%;
}

.about-title {
    color: var(--theme-1);
    font-size: var(--font-smaller);
    margin-bottom: calc(var(--grid-size) * 1);
}

.about-content {
    color: var(--gray-6);
    font-size: var(--font-smaller);
    margin-bottom: calc(var(--grid-size) * 2);
}

/* Calendar */
.calendar {
    color: var(--gray-c);
}

.month-nav {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: calc(var(--grid-size) * 0.5);
    user-select: none;
    -webkit-tap-highlight-color: transparent; /* https://stackoverflow.com/questions/42507623/blue-highlight-on-onclick-on-buttons-in-chrome-mobile */
}

.month-nav div {
    display: inline-flex;
    flex-grow: 1;
}

.month {
    justify-content: center;
}

.month-arrow {
}

.month-arrow:hover {
}

.month-arrow-unselectable {
}

.month-arrow-unselectable:hover {
}

.previous-month {
    justify-content: left;
}

.next-month {
    justify-content: flex-end;
}

.day-nav {
    align-items: center;
    color: var(--gray-c);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: calc(var(--grid-size) * 0.5);
    width: 100%;
}

.week {
}

.day-wrapper {
    display: inline-flex;
    justify-content: center;
    margin-bottom: calc(var(--grid-size) * 0.3);
    user-select: none;
    width: calc(99% / 7);
}

.day {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: calc(var(--grid-size) * 2);
    justify-content: center;
    width: calc(var(--grid-size) * 2);
    -webkit-tap-highlight-color: transparent; /* https://stackoverflow.com/questions/42507623/blue-highlight-on-onclick-on-buttons-in-chrome-mobile */
}

.day-current {
    /* background-color: var(--gray-e); */
    color: var(--theme-1);
}

.day:hover,
.day-selected {
    background-color: var(--theme-1);
    color: var(--gray-f);
}

.day-available {
}

.day-unavailable {
}

/* Week Day Selector */
.weekday-selector {
}

/* Sign Up / Login */
/* ------- */

.signup-wrapper,
.login-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: var(--edge-padding);
}

.error-message {
    color: var(--error-1);
    font-size: var(--font-smaller);
    margin-top: calc(var(--grid-size) * 2);
    text-align: center;
}

#signup-title,
#login-title {
    color: var(--gray-c);
    font-size: var(--font-small);
    font-weight: bold;
    margin-top: calc(var(--grid-size) * 3);
    text-align: left;
    width: 100%;
}

#signup-form,
#login-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: calc(var(--grid-size));
    width: 100%;
}

#signup-name-wrapper,
#login-name-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

#first-name-input {
    margin-right: calc(var(--grid-size) * 0.5);
    flex-grow: 1;
    width: 20%;
}

#last-name-input {
    margin-left: calc(var(--grid-size) * 0.5);
    flex-grow: 1;
    width: 20%;
}

#email-input,
#key-input {
    margin-top: calc(var(--grid-size) * 1);
}

#signup-submit-wrapper,
#login-submit-wrapper {
    margin-top: calc(var(--grid-size) * 3);
    width: 100%;
}

#signup-submit,
#login-submit {
    float: right;
}

/* Dashboard */
/* -------- */

.dashboard-wrapper {
    padding-bottom: var(--mobile-nav-bar-bottom-padding);
    position: relative;
}

#dashboard-list-wrapper {
    padding: var(--edge-padding);
}

.food-wrapper {
}

.food-date-buttons-wrapper {
    position: relative;
}

.food-exp-date {
    color: var(--gray-8);
    font-size: var(--font-smaller);
    margin-bottom: calc(var(--grid-size) * 0.5);
}

.food-buttons-wrapper {
    position: absolute;
    right: 0;
    top: 0;
}

.food-edit-button,
.food-check-button {
    margin-left: calc(var(--grid-size) * 0.5);
}

.food-name {
    color: var(--gray-2);
    font-size: var(--font-smaller);
    margin-bottom: calc(var(--grid-size) * 1);
}

#desktop-add-button-wrapper {
    display: none;
}

#mobile-nav-bar {
    bottom: 0;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
}

#menu-button,
#preferences-button,
#add-button {
    align-items: center;
    background-color: var(--gray-f);
    color: var(--theme-1);
    display: flex;
    flex-grow: 1;
    height: var(--mobile-nav-bar-bottom-padding);
    justify-content: center;
}

#menu-button svg,
#preferences-button svg,
#add-button svg {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; /* https://stackoverflow.com/questions/42507623/blue-highlight-on-onclick-on-buttons-in-chrome-mobile */
}

/* Edit */

.edit-panel-wrapper {
    font-size: var(--font-smaller);
    font-weight: normal;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.edit-panel-background {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding: var(--edge-padding);
}

.edit-panel {
    background-color: var(--gray-f);
    /* margin-top: calc(var(--grid-size) * 3);
    max-height: calc(var(--grid-size) * 35); */
    margin-top: 10vh;
    max-height: 60vh;
    overflow-y: scroll;
    padding: calc(var(--edge-padding) * 0.5);
}

.edit-header {
    color: var(--gray-8);
    margin-bottom: calc(var(--grid-size) * 0.5);
    position: relative;
}

.edit-sub-header {
    color: var(--gray-a);
    margin-bottom: calc(var(--grid-size) * 0.5);
}

#food-form .theme-buttons-row {
    margin-bottom: calc(var(--grid-size) * 1);
}

#food-form input {
    margin-bottom: calc(var(--grid-size) * 1);
}

#food-form .error-message {
    font-size: var(--font-smallest);
    height: calc(var(--grid-size) * 2);
    margin-bottom: calc(var(--grid-size) * 2);
    margin-top: calc(var(--grid-size) * 1);
    /* text-align: left; */
}

#food-submit-wrapper input {
    float: right;
}

#food-submit-wrapper .theme-button-unselected {
    font-size: var(--font-smaller);
}

/* Preferences */
/* ----------- */

.preferences-wrapper {
    font-size: var(--font-smaller);
    padding: var(--edge-padding);
}

.single-preference-wrapper {
    margin-bottom: calc(var(--grid-size) * 3);
}

.preference-title {
    color: var(--gray-8);
    margin-bottom: calc(var(--grid-size) * 1.5);
    position: relative;
}

.preference-title svg {
}

.meal-time {
    color: var(--gray-a);
    margin-bottom: calc(var(--grid-size) * 1);
    position: relative;
}

.meal-time .time-picker {
    position: absolute;
    right: 0;
    top: 0;
}

.email-preference {
    color: var(--gray-a);
    margin-bottom: calc(var(--grid-size) * 1);
    position: relative;
}

.days-picker {
    display: inline-block;
    text-align: center;
}

.email-preference-check-button {
    position: absolute;
    right: 0;
    top: 0;
}

.email-preference-check-button svg {
    color: rgba(0, 0, 0, 0);
}

.email-preference-check-button:hover svg {
    color: var(--gray-f);
}

#preferences-buttons-wrapper .theme-button {
    float: right;
}
